.msg {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.tool {
  width: 100%;
  padding: 0 10px;
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .tool_item {
    flex: 1;
  }
}
